@import (reference) "config";

@colorScheme: `function() {
	return [
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#577db3",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#16171a",
				"textColors": [
					"#ffffff",
					"#577db3",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#d7dbe0",
				"textColors": [
					"#252525",
					"#577db3",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#577db3",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#577db3",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#4cafa2",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#161a19",
				"textColors": [
					"#ffffff",
					"#4cafa2",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#d7e0df",
				"textColors": [
					"#252525",
					"#4cafa2",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#4cafa2",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#4cafa2",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#e0c559",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#1a1916",
				"textColors": [
					"#ffffff",
					"#e0c559",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#e0dfd7",
				"textColors": [
					"#252525",
					"#e0c559",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#e0c559",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#e0c559",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#d8426a",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#1a1617",
				"textColors": [
					"#ffffff",
					"#d8426a",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#e0d7db",
				"textColors": [
					"#252525",
					"#d8426a",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#d8426a",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#d8426a",
					"#252525"
				]
			}
		]
	}
];
}`;

.markup {
	.behavior() {
		.fonts(p);
		.button-Exeption();
	};
	.siteTheme(@siteConfVal, @block1, @block2, @block3, @block4) {
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
        .h-menu {
            .box-shadow(0 0 0 1px @white);
            background-color: @white;
            margin: 1px 0;
            & when (@block = 1) {
                .box-shadow(0 0 0 1px @helpcolor);
                background: none;
            }
        }
	}
}

.mainmenu {
	.behavior() {
		// Переменные для отображения меню в десктопном виде
		@menu-leftMargin: 0;                 // Отступ слева и справа у меню
		@menu-topMargin: 0;                   // Отступ сверху у всего меню
		@menu-height: 70px;                     // Высота меню

		// Переменные для настройки внешнего вида ссылок
		@menuNav-fontSize: 15px;                // Размер шрифта верхнего уровня
		@menuNested-fontSize: 15px;             // Размер шрифта вложенного меню
		@menuMobile-fontSize: 15px;             // Размер шрифта мобильного меню
		@menu-fontFamily: inherit;            // Стиль шрифта у ссылок верхнего уровня
		@menu-fontWeight: normal;               // Жирность шрифта у ссылок верхнего уровня
		@menu-textDecotarion: none;             // Подчеркивание текста у ссылок верхнего уровня
		@menu-textTransform: none;         // Трансформирование текста у ссылок верхнего уровня

		// Переменные для настройки размеров и отступов
		@menuNav-itemLeftPadding: 5px;          // Отступ слева и справа у блоков верхнего уровня
		@menuNav-itemLinkTopPadding: 15px;      // Отступ сверху и снизу у ссылки верхнего уровня
		@menuNested-itemLinkTopPadding: 15px;   // Отступ сверху и снизу у ссылки вложенного меню
		@menu-itemLinkLeftPadding: 20px;        // Отступ слева и справа у ссылки всех уровней

		@menuNested-itemTopPadding: 0;        // Отступ сверху и снизу у блока вложенного меню
		@menuNested-itemLeftPadding: 0;       // Отступ слева и справа у блока вложенного меню

		@menuNested-itemWidth: 240px;           // Максимальная длина пункта вложенного меню
		@menuNested-Aligment: 0;                // Отступа для вложенного меню; 0 - по краю, 1 - по тексту

		// Переменные для настройки иконки у ссылок
		@menuNav-arrowFontSize: 10px;           // Размер иконки у ссылки верхнего уровня
		@menuNav-arrowSymbol: "\f107";          // Стиль иконки у ссылки верхнего уровня

		@menuNested-fontSizeArrow: 10px;        // Размер иконки у ссылки вложенного меню
		@menuNested-leftArrowSymbol: "\f105";   // Стиль иконки ВПРАВО у ссылки вложенного меню
		@menuNested-rightArrowSymbol: "\f104";  // Стиль иконки ВЛЕВО у ссылки вложенного меню

		@menuToggle-arrowLeftPadding: 5px;      // Отступ слева от ссылки верхнего уровня
		@menuNested-arrowEdgePadding: 5px;      // Отступ слева или справа от края вложенного пункта меню
		@menuToggle-arrowMargin: 5px;           // Отступ слева от ссылки в кнопке "Еще"

		// Переменные для настройки кнопки "открыть меню" в мобильном виде
		@menuToggleButton-width: 50px;                  // Ширина кнопки
		@menuToggleButton-height: 50px;                 // Высота кнопки
		@menuToggleButton-spanWidth: 30px;              // Длина черточки внутри кнопки
		@menuToggleButton-spanHeight: 4px;              // Высота черточки внутри кнопки
		@menuToggleButton-marginBetweenSpan: 5px;       // Расстояние между кнопками

		@menuToggleButton-left: calc(~"100%" - 60px);   // Отступ справа
		@menuToggleButton-top: -60px;                   // Отступ сверху
		@menuToggleButton-marginBottom: 20px;           // Отступ снизу от меню

		// Переменные для отображения в мобильном виде
		@menuMobile-marginTop: 15px;            // Отступ сверху
		@menuMobile-marginBottom: 15px;         // Отступ снизу
		@menuMobile-itemHeight: 48px;           // Высота кнопки

		.leftSideMenu { .textRight(); }
		.rightSideMenu { .textRight(); }
		.ul-w-mainmenu-toggle-button { position: absolute !important; }
		.menuMixin();

		-webkit-justify-content: center;
        justify-content: center;

        //------//

        &.desktop, &.htablet {
            > .ul-w-mainmenu-item, > .ul-w-mainmenu-toggle {
                // Стили пункта меню верхнего уровня
                a {
                    // Стили всех ссылок на всех уровнях
                    .transition();
			        .border-radius(5px, 5px, 5px, 5px);
                    //display: inline-block !important;
                    border: 2px solid transparent;
                    text-align: center;
                }
                &.ul-w-mainmenu-have-nested {
                    // Стили пункта меню, содержащего вложенный список
                    & > a:after {
                        // Стили иконки пункта меню, содержащего вложенный список
                        margin: 0 0 0 5px !important;
                    }
                }
                &.ul-w-mainmenu-have-nested .ul-w-mainmenu-nested,
                > .ul-w-mainmenu-toggle-nested {
                    // Стили всех вложенных списков
                    .border-radius(0, 0, 5px, 5px);
                    .ul-w-mainmenu-item {

                        &.ul-w-mainmenu-have-nested {
                            // Стили подпункта меню, содержащего вложенный список
                            & > a:before, // Стили символа влево вложенного меню
                            & > a:after { // Стили символа вправо вложенного меню
                                margin: -1px 5px 0 5px;
                            }
                            &:hover > .ul-w-mainmenu-nested {
                                padding: 10px;
                                margin: -10px 10px 0 10px;
                                .border-radius(5px, 5px, 5px, 5px);
                                &:before, &:after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    height: 100%;
                                    width: 10px;
                                    background: none;
                                }
                                &:before { right: -10px; }
                                &:after { left: -10px; }
                                .ul-w-mainmenu-item {
                                    &.ul-w-mainmenu-have-nested {
                                        &:hover > .ul-w-mainmenu-nested {
                                            padding: 10px;
                                            margin: -10px 10px 0 10px;
                                            .border-radius(5px, 5px, 5px, 5px);
                                            &:before, &:after {
                                                content: "";
                                                position: absolute;
                                                top: 0;
                                                height: 100%;
                                                width: 10px;
                                                background: none;
                                            }
                                            &:before { right: -10px; }
                                            &:after { left: -10px; }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & > .ul-w-mainmenu-nested, .ul-w-mainmenu-toggle-nested { // Стили вложенного подменю 1 уровня
                    min-width: 100%;
                }
                &:hover > .ul-w-mainmenu-nested,
                &:hover > .ul-w-mainmenu-toggle-nested {
                    padding: 10px;
                    margin-top: 1px;/*because of box shadow 1px*/
                }
            }
        }

        &.vtablet, &.mobile {
            .ul-w-mainmenu-item {
                // Стили всех пунктов меню
                & > a {
                    // Стили ссылки пункта меню
                    .transition;
                    padding: 4px 0 !important;
                    margin: 5px 15px !important;
                    display: inline-block;
                    width: auto;
                    border-bottom: 1px solid transparent;
                }
            }
            .ul-w-mainmenu-toggle-button {
                // Стили кнопки, раскрывающей меню
                right: 0;
                & > span {
                    // Стили линий внутри кнопки
                    .transition;
                }
            }
            .ul-w-mainmenu-toggle { display: none; }
        }
	}

	.blockTheme(@blockBg, @text1, @text2, @text3) {

        @block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");

		.menuNav-activeItem,
		.menuNested-activeItem,
		.menuMobile-activeItem {
			& > a {
                position: initial !important;
                color: @text1 !important;
            }
		}
		.menuNav-colors {
			& > a {
                color: @text2;
                &:hover {
                    border-color: @text2;
                    color: @text1;
                }
            }
            & when (@block = 2) {
                & > a {
                    color: @text2;
                    &:hover { color: @blockBg !important; }
                }
            }
		}
		.menuNested-colors {
            // background-color: @text2;
			& > a {
				color: @white;
                &:hover {
                    color: @white !important;
                    border-color: @white !important;
                }
			}
            &.ul-w-mainmenu-have-nasted:hover > a {
              //  &:before,
              //  &:after { color: @text2 !important; }
            }
		}

		.menuMobile-colors {
			& > a { color: inherit; }
			&:hover {
				& > a:hover {
                    border-bottom-color: @text2 !important;
                    color: @text2 !important;
                }
			}
		}

		.menuMobile-button {
			span { background-color: @text1; }
		}

		.menuMixinColor();

        .ul-w-mainmenu-nested,
        .ul-w-mainmenu-toggle-nested { background-color: @text2; }

        /*& when (@block = 2) {
            .ul-w-mainmenu-nested,
            .ul-w-mainmenu-toggle-nested { background-color: @text2 !important; }
        }*/
	}
}

.header {
	.behavior() {
		h1 {
			.fonts(h1);
			margin: 0 0 30px 0;
		}
	};
}

.contacts {
	.behavior() {
		&-design1, &-design2, &-design3 {
			.ul-w-social {
				&-title { .widget_title(); }
				&-icons .ul-w-social-item a{
					.transition();
					.border-radius(5px, 5px, 5px, 5px);
					position: relative;
					display: inline-block;
					width: 50px;
					height: 50px;
					margin: 12px 25px 12px 0;
					&.ul-w-social-icon-disabled {
						pointer-events: none;
						&:before {
							-webkit-filter: grayscale(0) brightness(100%);
							filter: grayscale(0) brightness(100%);
						}
					}
					&:before {
						.Icomoon;
						position: absolute;
						font-size: 18px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
					}
					&.ul-w-social {
						&-facebook:before      { content: "\f09a"; }
						&-vkontakte:before     { content: "\f189"; }
						&-twitter:before       { content: "\f099"; }
						&-odnoklassniki:before { content: "\e609"; }
						&-linkedin:before      { content: "\f0e1"; }
						&-mailru:before        { content: "\e608"; }
						&-google:before        { content: "\f0d5"; }
						&-instagram:before     { content: "\f16d"; }
						&-youtube:before {
							content: "\f167";
							top: 12px;
							left: 15px;
							font-size: 25px;
							transform: none;
							-webkit-transform: none;
							-moz-transform: none;
						}
						&-yandex:before {
							font-family: 'yandex';
							position: absolute;
							content: "\0041";
						    top: 25px;
    						left: 23px;
						}
					}
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&-design1 .ul-w-social-item a{
			color: @white;
			&.ul-w-social {
				&-facebook {
					background: #4967c2;
					&:hover { background: lighten(#4967c2, 10%); }
				}
				&-vkontakte {
					background: #4c75a3;
					&:hover { background: lighten(#4c75a3, 10%); }
				}
				&-twitter {
					background: #1abfdf;
					&:hover { background: lighten(#1abfdf, 10%); }
				}
				&-odnoklassniki {
					background: #f68634;
					&:hover { background: lighten(#f68634, 10%); }
				}
				&-linkedin {
					background: #007bb6;
					&:hover { background: lighten(#007bb6, 10%); }
				}
				&-mailru {
					background: #f7921e;
					&:hover { background: lighten(#f7921e, 10%); }
				}
				&-google {
					background: #da4938;
					&:hover { background: lighten(#da4938, 10%); }
				}
				&-instagram {
					background: #a57d60;
					&:hover { background: lighten(#a57d60, 10%); }
				}
				&-youtube {
					background: #ce342c;
					&:hover { background: lighten(#ce342c, 10%); }
				}
				&-yandex {
					background: #e7322b;
					&:hover { background: lighten(#e7322b, 10%); }
				}
			}
		}
		&-design2 .ul-w-social-item a{
			background: @text2;
			color: @white;
			&:hover { background: lighten(@text2, 10%); }
		}
		&-design3 .ul-w-social-item a{
			background: transparent;
			color: @text1;
			&:hover { color: lighten(@text2, 10%); }
		}
	};
}

.wysiwyg {
	.behavior() {
		h2, .h2 li {
			.fonts(h2);
			margin: 0 0 20px 0;
		}
		h3, .h3 li {
			.fonts(h3);
			margin: 0 0 10px 0;
		}
		h4, .h4 li {
			.fonts(h4);
			margin: 0 0 10px 0;
		}
		h5, .h5 li {
			.fonts(p);
			margin: 0 0 10px 0;
			padding: 15px 15px 15px 20px;
			.border-radius(5px, 5px, 5px, 5px);
		}
		h6, .h6 li {
			.fonts(p);
			margin: 0 0 10px 0;
			padding: 15px 15px 15px 20px;
			.border-radius(5px, 5px, 5px, 5px);
			position: relative;
			&:before, &:after{
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
			}
			&:before{
				top: 0;
				left: 0;
				border-left: 2px solid;
				border-top: 2px solid;
    			.border-radius(5px, 0, 0, 0);
			}
			&:after{
				bottom: 0;
				right: 0;
				border-right: 2px solid;
				border-bottom: 2px solid;
    			.border-radius(0, 0, 5px, 0);
			}
		}
		ol {
			overflow: hidden;
			margin: 0;
			padding: 0;
			counter-reset: li;
			li {
				position: relative;
    			padding: 0 0 0px 20px;
				margin-left: 22px;
				margin-bottom: 20px;
				list-style-type: none;
				&:before {
					content: counter(li) !important;
					counter-increment: li;
					position: absolute;
					width: 35px;
					padding: 0 5px 0 0;
					top: 5px;
					left: -33px !important;
					font-size: 15px;
					font-weight: bold;
					line-height: 1;
					text-align: right;
					border-right: 2px solid;
					height: calc(~"100% - 10px");
				}
			}
			&.h2 li{
				margin-left: 30px;
				&:before {
					font-size: 25px;
					top: 19px;
					width: 40px;
					height: calc(~"100% - 28px");
				}
			}
			&.h3 li{
				margin-left: 30px;
				&:before {
					font-size: 22px;
					top: 14px;
					height: calc(~"100% - 20px");
				}
			}
			&.h4 li{
				margin-left: 30px;
				&:before {
					font-size: 17px;
					top: 7px;
					height: calc(~"100% - 12px");
				}
			}
			&.h5 li{
				margin-left: 25px;
				&:before {
					left: -46px;
					padding: 15px 5px 0 0;
				}
			}
			&.h6 li{
				margin-left: 35px;
				&:before {
					border-right: none;
					padding: 19px 0 0 0;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				padding-left: 40px;
				margin-bottom: 20px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					display: block;
					left: 5px;
					top: 10px;
					height: 7px;
					width: 15px;
					border-top: 2px solid;
					border-bottom: 2px solid;
				}
			}
			&.h2 li:before{ top: 28px; }
			&.h3 li:before { top: 22px; }
			&.h4 li:before {
				top: 14px;
				left: 10px;
			}
			&.h5 li{
				margin-left: 25px;
				&:before {
					top: 25px;
					left: -25px;
				}
			}
			&.h6 li {
				margin-left: 35px;
				&:before {
					border-bottom: none;
					content: '==';
					letter-spacing: -4px;
					font-size: 20px;
					left: -33px;
					padding: 12px 0 0 10px;
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		h5, .h5 li {
			background: @text2;
			color: @white;
		}
		h6, .h6 li {
			&:before, &:after{ border-color: @text2; }
		}
		ol li:before{ color:@text2; }
		ul {
			li:before { border-color: @text2; }
			&.h6 :before { color: @text2; }
		}
	}
}

.button-Exeption {
	.col-md-2 {
		.ul-w-button {
			.small, .middle, .large { max-width: calc(~"100% - 10px") }
		}
	}
}
.button {
	.behavior() {
		&1 {
			&.small  { .buttonBehavior(1, 1); }
			&.middle { .buttonBehavior(1, 2); }
			&.large  { .buttonBehavior(1, 3); }
		}
		&2 {
			&.small  { .buttonBehavior(2, 1); }
			&.middle { .buttonBehavior(2, 2); }
			&.large  { .buttonBehavior(2, 3); }
		}
		&3 {
			&.small  { .buttonBehavior(3, 1); }
			&.middle { .buttonBehavior(3, 2); }
			&.large  { .buttonBehavior(3, 3); }
		}
	}
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");
		&1 {
			&.large, &.middle, &.small {
				.buttonColor(1, @blockBg, @text1, @text2, @text3, @block1, @block2, @block3, @block4);
			}
		}
		&2 {
			&.large, &.middle, &.small {
				.buttonColor(2, @blockBg, @text1, @text2, @text3, @block1, @block2, @block3, @block4);
			}
		}
		&3 {
			&.large, &.middle, &.small {
				.buttonColor(3, @blockBg, @text1, @text2, @text3, @block1, @block2, @block3, @block4);
			}
		}
	}
}

.social {
	.behavior() {
		&-design1, &-design2, &-design3 {
			.ul-w-social {
				&-title { .widget_title(); }
				&-icons .ul-w-social-item a{
					.transition();
					.border-radius(5px, 5px, 5px, 5px);
					position: relative;
					display: inline-block;
					width: 50px;
					height: 50px;
					margin: 12px 25px 12px 0;
					&.ul-w-social-icon-disabled {
						pointer-events: none;
						&:before {
							-webkit-filter: grayscale(0) brightness(100%);
							filter: grayscale(0) brightness(100%);
						}
					}
					&:before {
						.Icomoon;
						position: absolute;
						font-size: 18px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
					}
					&.ul-w-social {
						&-facebook:before      { content: "\f09a"; }
						&-vkontakte:before     { content: "\f189"; }
						&-twitter:before       { content: "\f099"; }
						&-odnoklassniki:before { content: "\e609"; }
						&-linkedin:before      { content: "\f0e1"; }
						&-mailru:before        { content: "\e608"; }
						&-google:before        { content: "\f0d5"; }
						&-instagram:before     { content: "\f16d"; }
						&-youtube:before {
							content: "\f167";
							top: 12px;
							left: 15px;
							font-size: 25px;
							transform: none;
							-webkit-transform: none;
							-moz-transform: none;
						}
						&-yandex:before {
							font-family: 'yandex';
							position: absolute;
							content: "\0041";
						    top: 25px;
    						left: 23px;
						}
					}
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&-design1 .ul-w-social-item a{
			color: @white;
			&.ul-w-social {
				&-facebook {
					background: #4967c2;
					&:hover { background: lighten(#4967c2, 10%); }
				}
				&-vkontakte {
					background: #4c75a3;
					&:hover { background: lighten(#4c75a3, 10%); }
				}
				&-twitter {
					background: #1abfdf;
					&:hover { background: lighten(#1abfdf, 10%); }
				}
				&-odnoklassniki {
					background: #f68634;
					&:hover { background: lighten(#f68634, 10%); }
				}
				&-linkedin {
					background: #007bb6;
					&:hover { background: lighten(#007bb6, 10%); }
				}
				&-mailru {
					background: #f7921e;
					&:hover { background: lighten(#f7921e, 10%); }
				}
				&-google {
					background: #da4938;
					&:hover { background: lighten(#da4938, 10%); }
				}
				&-instagram {
					background: #a57d60;
					&:hover { background: lighten(#a57d60, 10%); }
				}
				&-youtube {
					background: #ce342c;
					&:hover { background: lighten(#ce342c, 10%); }
				}
				&-yandex {
					background: #e7322b;
					&:hover { background: lighten(#e7322b, 10%); }
				}
			}
		}
		&-design2 .ul-w-social-item a{
			background: @text2;
			color: @white;
			&:hover { background: lighten(@text2, 10%); }
		}
		&-design3 .ul-w-social-item a{
			background: transparent;
			color: @text1;
			&:hover { color: lighten(@text2, 10%); }
		}
	};
}

.sliderWysiwyg {
	.behavior() {
		.owl-wrapper-outer .ul-slider-item {
			&-overlay {
				margin: 0;
				&-edit { .border-radius(5px, 5px, 5px, 5px); }
				&.ul-overlay-position-center {
					transform: translate(-50%, -51%);
					-webkit-transform: translate(-50%, -51%);
					-moz-transform: translate(-50%, -51%);
				}
				@media (max-width: 640px) {
					width: calc(~"100% - 90px") !important;
					.ul-slider-item-btn {
						margin: 0 !important;
						.ul-w-btn-el.large {
							min-width: 145px;
							padding: 10px 30px;
						}
					}
				}
			}
			&-text {
				h2 {
					.fonts(h2);
					margin: 0 0 20px 0;
				}
				h3 {
					.fonts(h3);
					margin: 0 0 10px 0;
				}
				h4 {
					.fonts(h4);
					margin: 0 0 10px 0;
				}
				h5 {
					.fonts(p);
					margin: 0 0 10px 0;
					padding: 15px 15px 15px 20px;
					.border-radius(5px, 5px, 5px, 5px);
				}
				h6 {
					.fonts(p);
					margin: 0 0 10px 0;
					padding: 15px 15px 15px 20px;
					.border-radius(5px, 5px, 5px, 5px);
					position: relative;
					&:before, &:after{
						content: '';
						position: absolute;
						width: 30px;
						height: 30px;
					}
					&:before{
						top: 0;
						left: 0;
						border-left: 2px solid;
						border-top: 2px solid;
						.border-radius(5px, 0, 0, 0);
					}
					&:after{
						bottom: 0;
						right: 0;
						border-right: 2px solid;
						border-bottom: 2px solid;
						.border-radius(0, 0, 5px, 0);
					}
				}
			}
		}
		.owl-controls {
			text-align: center;
			.owl-pagination {
				width: 100%;
				padding: 0 80px 25px;
				left: 0;
				bottom: 0;
				height: auto;
				text-align: center;
				white-space: inherit;
				transform: translateX(0%);
				-webkit-transform: translateX(0%);
				-moz-transform: translateX(0%);
				.owl-page {
					span { .pagination(); }
					&.active span:before { opacity: 1; }
				}
			}
			.owl-buttons {
				.owl-prev, .owl-next {
					.transition();
					width: 55px;
					height: 135px;
					top: 50%;
					margin-top: -67px;
					z-index: 1;
					&:before {
						.transition;
						.FontAwesome;
						position: absolute;
						left: 50%;
						top: 50%;
						margin: -10px 0 0 -5px;
						font-size: 35px;
						line-height: 20px;
					}
					&.click {
						transition: none;
						&:before { display: none; }
					}
				}
				.owl-prev {
					.border-radius(0, 5px, 5px, 0);
					left: 0;
					&:before { content: "\f104"; }
				}
				.owl-next {
					.border-radius(5px, 0, 0, 5px);
					right: 0;
					&:before { content: "\f105"; }
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@colorN: e(`config.texts.get(@{site}, 1, 1)`);
		@block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");
		.owl-wrapper-outer .ul-slider-item {
			&-text {
				h5 {
					background: @text2;
					color: @white;
				}
				h6 {
					&:before, &:after{ border-color: @text2; }
				}
			}
		}
		.owl-page {
			span { .pagination_color(@text2); }
			&.active {
				span { background: @text2; }
				&:hover span { border-color: @text2; }
			}
		}
		.owl-prev, .owl-next {
			background: transparent;
			&:before { color: @white; }
			&:hover {
				background: fade(@block2, 65%);
				&:before { color: @white; }
			}
		}
		.ul-slider-item-text {
			h5, h6 { border-color: @text2; }
		}
	}
}

.border {
	.behavior() {
		.hr.ul-widget-border {
			&-style1 { height: 2px; }
			&-style2 {
				position: relative;
				height: 2px;
				width: calc(~"50% - 30px");
				&:before {
					content: '\\\\';
					display: block;
					position: absolute;
					right: -60px;
					width: 60px;
					text-align: center;
					top: -13px;
					font-weight: bold;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					right: calc(~"-100% - 60px");
				}
			}
			&-style3 {
				height: 2px;
				background-image: none;
				&:after { display: none; }
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		.hr.ul-widget-border {
			&-style1 { background: @text2; }
			&-style2 {
				background: @text2;
				&:before { color: @text2; }
				&:after { background: @text2; }
			}
			&-style3 {
				background: @helpcolor;
				& when (@block = 3) { background: @text3; }
			}
		}
	}
}

.bloquote {
	.behavior() {
		margin: 5px;
		&.ul-w-bloquote-design1,
		&.ul-w-bloquote-design2 {
			.ul-w-bloquote {
				&-text {
					.fonts(p);
					font-style: italic;
				}
				&-author {
					.fonts(p);
					font-weight: bold;
					margin-top: 30px;
				}
			}
		}
		&.ul-w-bloquote-design1 {
			padding: 45px 0;
			border-bottom: 2px solid;
			border-top: 2px solid;
			&:before { content: none;}
			.ul-w-bloquote {
				&-text {
					&:before {
						content: "\201c";
						font-size: 40px;
						position: absolute;
						left: 5px;
						top: 60px;
					}
				}
			}
		}
		&.ul-w-bloquote-design2 {
			padding: 21px 0;
			.ul-w-bloquote {
				&-text {
					margin-left: 0;
					padding-top: 50px;
					&:before {
						content: "\201c";
						font-size: 75px;
						margin-left: -1%;
						position: absolute;
						left: 48%;
						top: 40px;
					}
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&.ul-w-bloquote-design1,
		&.ul-w-bloquote-design2 {
			.ul-w-bloquote {
				&-text {
					color: @text1;
					before {color: @text2;}
				}
				&-author { color: @text3; }
			}
		}
		&.ul-w-bloquote-design1 {
			border-color: @text2;
			.ul-w-bloquote {
				&-text:before {color: @text2;}
			}
		}
		&.ul-w-bloquote-design2 {
			.ul-w-bloquote {
				&-text:before {color: @text2;}
			}
		}
	}
}

.imagezoom {
	.behavior() {
		margin: 5px;
		&.ui-draggable .ul-w-imagezoom-title-hover { pointer-events: all !important; }
		.ul-w-imagezoom-img img {
			.border-radius(5px,5px,5px,5px);
			overflow: hidden;
		}
		&[data-options*="\"click\":\"lightbox\""],
		&[data-options*="\"click\":\"link\""] {
			p[data-lightbox="true"] {
				&:before {
					.border-radius(5px,5px,5px,5px);
					.transition;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					border: 1px solid;
					position: absolute;
					opacity: 0;
				}
				&:hover {
					&:before {
						opacity: 1;
						border: 10px solid;
					}
				}
			}
		}
		&[data-options*="\"click\":\"link\""] {
			p[data-lightbox="true"] {
				&:after {
					.transition;
					content: "\f0c1";
					font-family: FontAwesome;
					font-size: 25px;
					display: block;
					width: 23px;
					height: 25px;
					margin: -12.5px 0 0 -11.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 5;
					opacity: 0;
				}
				&:hover:after { opacity: 1; }
			}
		}
		&[data-options*="\"click\":\"lightbox\""] {
			p[data-lightbox="true"] {
				&:after {
					.transition;
					content: "\f00e";
					font-family: FontAwesome;
					font-size: 25px;
					display: block;
					width: 23px;
					height: 25px;
					margin: -12.5px 0 0 -11.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 5;
					opacity: 0;
				}
				&:hover:after { opacity: 1; }
			}
		}
		&[data-options*="\"event\":true"] {
			.ul-w-imagezoom-title-hover {
				bottom: 40% !important;
			}
		}
		&[data-options*="\"label\":true"] {
			.ul-w-imagezoom-img {
				&:before {
					.border-radius(5px,5px,5px,5px);
					.transition;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					border: 1px solid;
					position: absolute;
					opacity: 0;
				}
				&:hover:before {
					opacity: 1;
					border: 10px solid;
				}
			}
		}
		&[data-options*="\"altPosition\":\"bottom\""] {
			&[data-options*="\"event\":false"] {
				.ul-w-imagezoom-img:hover:before { opacity: 0 !important; }
			}
		}
		.ul-w-imagezoom {
			&-title {
				.fonts(p);
				.textCenter;
				&:before {
					content: "";
					display: block;
					height: 2px;
					width: 100%;
					position: absolute;
					bottom: 5px;
					left: 0;
				}
			}
			&-title-hover {
				.fonts(p);
				.textCenter;
				.transition;
				.transform(2);
				display: block;
				margin-bottom: -15px;
				padding: 0 20px 10px 20px;
				background: none !important;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				position: absolute;
				bottom: 50%;
				z-index: 2;
				pointer-events: none;
				opacity: 0;
				&:before {
					content: "";
					display: block;
					height: 2px;
					width: 20%;
					margin-left: -10%;
					position: absolute;
					bottom: 0px;
					left: 50%;
				}
			}
		}
		&:hover {
			.ul-w-imagezoom-title-hover { .transform(1) !important; }
		}
	};
	.siteTheme(@siteConfVal, @block1, @block2, @block3, @block4) {
		p[data-lightbox="true"],
		.ul-w-imagezoom-img {
			&:before {
				background-color: fade(@block2,65%);
				border-color: fade(@white,50%) !important;
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&[data-options*="\"click\":\"link\""],
		&[data-options*="\"click\":\"lightbox\""] {
			p[data-lightbox="true"] {
				&:after { color: @text2; }
			}
		}
		.ul-w-imagezoom-title-hover:before,
		.ul-w-imagezoom-title:before { background-color: @text2; }
	}

}
