<%
	styles.push(root + '/css/styles.css');
%>

<main>
	<div class="container">
		<div class="row">

			<div class="col"><%- widgets['ul-id-mainmenu-test1'] %></div>

			<h1>Основные</h1>
			<div class="col"><%- widgets['ul-id-bloquote-test1'] %></div>
			<div class="col"><%- widgets['ul-id-header-test1'] %></div>
			<div class="col"><%- widgets['ul-id-wysiwyg-test1'] %></div>
			<div class="col"><%- widgets['ul-id-button-test1'] %></div>
			<div class="col"><%- widgets['ul-id-contacts-test1'] %></div>
			<div class="col"><%- widgets['ul-id-downloadFile-test1'] %></div>
			<div class="col"><%- widgets['ul-id-facebookLikeBox-test1'] %></div>
			<div class="col"><%- widgets['ul-id-imagezoom-test1'] %></div>
			<div class="col"><%- widgets['ul-id-icon-test1'] %></div>
			<div class="col"><%- widgets['ul-id-feedBack-test1'] %></div>
			<div class="col"><%- widgets['ul-id-gallery-test1'] %></div>
			<div class="col"><%- widgets['ul-id-goods-test1'] %></div>
			<div class="col"><%- widgets['ul-id-header-test2'] %></div>
			<div class="col"><%- widgets['ul-id-sliderWysiwyg-test1'] %></div>
			<div class="col"><%- widgets['ul-id-worktime-test1'] %></div>
			<div class="col"><%- widgets['ul-id-maps-test1'] %></div>
			<div class="col"><%- widgets['ul-id-price-test1'] %></div>
			<div class="col"><%- widgets['ul-id-review-test1'] %></div>
			<div class="col"><%- widgets['ul-id-video-test1'] %></div>
			<h1>Социальные</h1>
			<div class="col"><%- widgets['ul-id-social-test1'] %></div>
			<div class="col"><%- widgets['ul-id-socialGroups-test1'] %></div>
			<div class="col"><%- widgets['ul-id-twitterLikeBox-test1'] %></div>
			<div class="col"><%- widgets['ul-id-twitterLikeBox-test2'] %></div>
			<div class="col"><%- widgets['ul-id-twitterLikeBox-test3'] %></div>
		</div>
	</div>
</main>
